extends ./layout.jade

block content
    #header
        .constraint
            #intro
                h1 DEPMU Dashboard
    ul
        each centre in list
            li.panel
                .topper
                    span.caption Total
                    if centre.capacity_female
                        span.value.female Female #{centre.capacity_female}
                    span.value Male #{centre.capacity}


                h2 #{centre.name}
                ul.availability
                    li.available.male Available male
                        span #{centre.current_beds_male}
                    li.unavailable Unavailable
                        span #{centre.current_beds_ooc}
                    li.available.female Available female
                        span #{centre.current_beds_female}

                .tailer
                    span Last updated
                    span.value #{centre.last_update}
    
