extends ./layout.jade

block content
    #header
        .constraint
            div#intro
                h1 DEPMU Dashboard
    ul
        each centre in list
            li.panel
                div.topper
                    span Total
                    span Male #{centre.capacity}
                    if centre.capacity_female
                        span Female #{centre.capacity_female}

                h2 #{centre.name}
                div Available male: #{centre.current_beds_male}
                div Available female: #{centre.current_beds_female}
                div Out of commission: #{centre.current_beds_ooc}
    
