extends ./layout.jade

block content
    h1 Dashboard
    ul
        each item in list
            div(id=item.slug,style="background-color:#ccc;margin:1em;float:left;width:auto;padding:1em") 
                h2 #{item.name}
                div.bed_data Available male: 
                    span.male #{item.current_beds_male}
                div.bed_data Available female: 
                    span.female #{item.current_beds_female}
                div.bed_data Out of commission: 
                    span.ooc #{item.current_beds_ooc}
    
