extends ./layout.jade

block content
    #header
        .constraint
            #intro
                h1 DEPMU Dashboard
    ul
        each centre in list
            li.panel
                div.topper
                    span.caption Total
                    if centre.capacity_female
                        span.total.female Female #{centre.capacity_female}
                    span.total Male #{centre.capacity}


                h2 #{centre.name}
                div Available male: #{centre.current_beds_male}
                div Available female: #{centre.current_beds_female}
                div Out of commission: #{centre.current_beds_ooc}
    
